Order Allow,Deny
Allow from all

<IfModule mod_expires.c>
<Filesmatch "\.(jpg|jpeg|png|gif)$">
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
</Filesmatch>
</IfModule>

ErrorDocument 404 https://bagetnaya-masterskaya.com/404.php

Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^directory/(.*)$ directory/index.php?id=$1 [L,QSA,NC]

RewriteRule ^baget_online/$ baget_online [R=301,L]
RewriteRule ^baget_online$ baget_online.php
RewriteRule ^baget_zakaz_clearchek$ baget_zakaz_clearchek.php
RewriteRule ^baget_zakaz_delchek$ baget_zakaz_delchek.php
RewriteRule ^baget_zakaz_addchek$ baget_zakaz_addchek.php
RewriteRule ^baget_zakaz_chekout$ baget_zakaz_chekout.php
RewriteRule ^baget_accept$ baget_accept.php
RewriteRule ^baget_zakaz$ baget_zakaz.php
RewriteRule ^sitemap.html$ sitemap.php
RewriteRule ^dostavka.html$ dostavka.php
RewriteRule ^requisites.html$ requisites.php
RewriteRule ^kontakty.html$ / [R=301,L]
RewriteRule ^actions.html$ actions.php
RewriteRule ^ourteam.html$ ourteam.php

RewriteRule ^pechat_na_holste$ pechat_na_holste/ [R=301,L]
RewriteRule ^pechat_na_holste/$ pechat_na_holste.php
RewriteRule ^pechat_na_holste/pechat_na_holste_cena.html$ pechat_na_holste_cena.php
RewriteRule ^pechat_na_holste/pechat_foto_na_holste.html$ pechat_foto_na_holste.php
RewriteRule ^pechat_na_holste/pechat_kartin_na_holste.html$ pechat_kartin_na_holste.php
RewriteRule ^pechat_na_holste/shirokoformatnaya_pechat_na_holste.html$ shirokoformatnaya_pechat_na_holste.php
RewriteRule ^pechat_na_holste/pechat_reprodukciy_na_holste.html$ pechat_reprodukciy_na_holste.php

RewriteRule ^pechat_na_holste/interyernaya_pechat_na_holste.html$ interyernaya_pechat_na_holste.php
RewriteRule ^pechat_na_holste/pechat_posterov_na_holste.html$ pechat_na_holste/fotopechat_posterov_na_holste.html [R=301,L]
RewriteRule ^pechat_na_holste/fotopechat_posterov_na_holste.html$ fotopechat_posterov_na_holste.php
RewriteRule ^pechat_na_holste/pechat_ikon_na_holste.html$ pechat_ikon_na_holste.php
RewriteRule ^pechat_na_holste/pechat_portreta_na_holste.html$ pechat_portreta_na_holste.php
RewriteRule ^pechat_na_holste/pechat_izobrazheniy_na_holste.html$ pechat_na_holste/pechat_na_holste_s_imitatsiey_zhivopisi.html [R=301,L]
RewriteRule ^pechat_na_holste/pechat_na_holste_s_imitatsiey_zhivopisi.html$ pechat_na_holste_s_imitatsiey_zhivopisi.php
RewriteRule ^pechat_na_holste/pechat_na_holste_s_podramnikom.html$ pechat_na_holste_s_podramnikom.php


RewriteRule ^bagetnye_raboty$ bagetnye_raboty/ [R=301,L]
RewriteRule ^bagetnye_raboty/$ bagetnye_raboty.php
RewriteRule ^bagetnye_raboty/izgotovlenie_bageta$ bagetnye_raboty/izgotovlenie_bageta/ [R=301,L]
RewriteRule ^bagetnye_raboty/izgotovlenie_bageta/$ izgotovlenie_bageta.php
RewriteRule ^bagetnye_raboty/izgotovlenie_bageta/izgotovlenie_bagetov_dlya_kartin.html$ izgotovlenie_bagetov_dlya_kartin.php
RewriteRule ^bagetnye_raboty/izgotovlenie_bageta/izgotovlenie_zerkal_v_bagete.html$ izgotovlenie_zerkal_v_bagete.php
RewriteRule ^bagetnye_raboty/izgotovlenie_bageta/izgotovlenie_ramki_iz_bageta.html$ izgotovlenie_ramki_iz_bageta.php

RewriteRule ^bagetnye_raboty/oformlenie_v_baget$ bagetnye_raboty/oformlenie_v_baget/ [R=301,L]
RewriteRule ^bagetnye_raboty/oformlenie_v_baget/$ oformlenie_v_baget.php
RewriteRule ^bagetnye_raboty/oformlenie_v_baget/oformlenie_vyshivki_v_baget.html$ oformlenie_vyshivki_v_baget.php
RewriteRule ^bagetnye_raboty/oformlenie_v_baget/oformlenie_kartin_v_baget.html$ oformlenie_kartin_v_baget.php
RewriteRule ^bagetnye_raboty/oformlenie_v_baget/oformlenie_fotografiy_v_baget.html$ oformlenie_fotografiy_v_baget.php
RewriteRule ^bagetnye_raboty/oformlenie_v_baget/oformlenie_ikon_v_baget.html$ oformlenie_ikon_v_baget.php
RewriteRule ^bagetnye_raboty/oformlenie_v_baget/oformlenie_papirusa_v_baget.html$ oformlenie_papirusa_v_baget.php

RewriteRule ^bagetnye_raboty/obramlenie$ bagetnye_raboty/obramlenie/ [R=301,L]
RewriteRule ^bagetnye_raboty/obramlenie/$ obramlenie.php
RewriteRule ^bagetnye_raboty/obramlenie/obramlenie_dlya_foto.html$ obramlenie_dlya_foto.php
RewriteRule ^bagetnye_raboty/obramlenie/obramlenie_kartiny.html$ obramlenie_kartiny.php
RewriteRule ^bagetnye_raboty/obramlenie/obramlenie_fotografiy.html$ obramlenie_fotografiy.php
RewriteRule ^bagetnye_raboty/obramlenie/obramlenie_risunka.html$ obramlenie_risunka.php
RewriteRule ^bagetnye_raboty/obramlenie/obramlenie_kartinki.html$ obramlenie_kartinki.php

RewriteRule ^bagetnye_raboty/oformlenie_detskih_risunkov_v_baget.html$ oformlenie_detskih_risunkov_v_baget.php
RewriteRule ^bagetnye_raboty/televizor_v_bagete.html$ televizor_v_bagete.php
RewriteRule ^bagetnye_raboty/pechat_plakatov_A0_A1_A2.html$ pechat_plakatov_A0_A1_A2.php
RewriteRule ^bagetnye_raboty/pechat_plakatov_A4_A3.html$ pechat_plakatov_A4_A3.php
RewriteRule ^bagetnye_raboty/pechat_posterov.html$ pechat_posterov.php
RewriteRule ^bagetnye_raboty/stilizacija_pod_zhivopis.html$ stilizacija_pod_zhivopis.php

RewriteRule ^natyazhka_holsta$ natyazhka_holsta/ [R=301,L]
RewriteRule ^natyazhka_holsta/$ natyazhka_holsta.php
RewriteRule ^natyazhka_holsta/natyazhka_na_podramnik.html$ natyazhka_na_podramnik.php
RewriteRule ^natyazhka_holsta/holst_na_podramnike.html$ holst_na_podramnike.php
RewriteRule ^natyazhka_holsta/natyazhka_kartiny_na_podramnik.html$ natyazhka_holsta/kartina_na_podramnike.html [R=301,L]
RewriteRule ^natyazhka_holsta/kartina_na_podramnike.html$ kartina_na_podramnike.php

RewriteRule ^nakatka_na_penokarton$ nakatka_na_penokarton/ [R=301,L]
RewriteRule ^nakatka_na_penokarton/$ nakatka_na_penokarton.php
RewriteRule ^nakatka_na_penokarton/nakatka_izobrazheniy.html$ nakatka_na_penokarton/penokarton_5_10.html [R=301,L]
RewriteRule ^nakatka_na_penokarton/penokarton_5_10.html$ penokarton_5_10.php
RewriteRule ^nakatka_na_penokarton/nakatka_fotografiy.html$ nakatka_na_penokarton/kupit_penokarton.html [R=301,L]
RewriteRule ^nakatka_na_penokarton/kupit_penokarton.html$ kupit_penokarton.php

RewriteRule ^pechat_na_penokartone$ pechat_na_penokartone/ [R=301,L]
RewriteRule ^pechat_na_penokartone/$ pechat_na_penokartone.php

RewriteRule ^ramki_dlya_ikon$ ramki_dlya_ikon/ [R=301,L]
RewriteRule ^ramki_dlya_ikon/$ ramki_dlya_ikon.php
RewriteRule ^ramki_dlya_ikon/ramki_dlya_vyshityh_ikon.html$ ramki_dlya_vyshityh_ikon.php
RewriteRule ^ramki_dlya_ikon/derevyannye_ramki_dlya_ikon.html$ derevyannye_ramki_dlya_ikon.php
RewriteRule ^ramki_dlya_ikon/ramka_dlya_ikony_iz_bisera.html$ ramka_dlya_ikony_iz_bisera.php
RewriteRule ^ramki_dlya_ikon/ramka_pod_ikonu.html$ ramka_pod_ikonu.php
RewriteRule ^ramki_dlya_ikon/ramki_dlya_ikon_vyshityh_biserom.html$ ramki_dlya_ikon_vyshityh_biserom.php


RewriteRule ^ramki_dlya_kartin$ ramki_dlya_kartin/ [R=301,L]
RewriteRule ^ramki_dlya_kartin/$ ramki_dlya_kartin.php
RewriteRule ^ramki_dlya_kartin/bolshie_aluminievye_ramki_dlya_kartin.html$ bolshie_aluminievye_ramki_dlya_kartin.php
RewriteRule ^ramki_dlya_kartin/ramki_dlya_vyshityh_kartin.html$ ramki_dlya_vyshityh_kartin.php
RewriteRule ^ramki_dlya_kartin/krasivye_derevyannye_ramki_dlya_kartin.html$ krasivye_derevyannye_ramki_dlya_kartin.php
RewriteRule ^ramki_dlya_kartin/deshevye_plastikovye_ramki_dlya_kartin.html$ deshevye_plastikovye_ramki_dlya_kartin.php
RewriteRule ^ramki_dlya_kartin/gotovye_ramki_dlya_kartin.html$ gotovye_ramki_dlya_kartin.php
RewriteRule ^ramki_dlya_kartin/podbor_ramki_pod_kartinu.html$ podbor_ramki_pod_kartinu.php



RewriteRule ^bagetnye_ramki$ bagetnye_ramki/ [R=301,L]
RewriteRule ^bagetnye_ramki/$ bagetnye_ramki.php
RewriteRule ^bagetnye_ramki/izgotovlenie_bagetnyh_ramok.html$ izgotovlenie_bagetnyh_ramok.php
RewriteRule ^bagetnye_ramki/bagetnye_ramki_dlya_ikon.html$ bagetnye_ramki_dlya_ikon.php
RewriteRule ^bagetnye_ramki/bagetnye_ramki_dlya_kartin.html$ bagetnye_ramki_dlya_kartin.php
RewriteRule ^bagetnye_ramki/bagetnye_ramki_dlya_foto.html$ bagetnye_ramki_dlya_foto.php

RewriteRule ^ramki_dlya_vyshivki$ ramki_dlya_vyshivki/ [R=301,L]
RewriteRule ^bagetnye_ramki/bagetnye_ramki_dlya_vyshivki.html$ bagetnye_ramki/ramki_dlya_vyshivki/ [R=301,L]
RewriteRule ^ramki_dlya_vyshivki/$ ramki_dlya_vyshivki.php
RewriteRule ^ramki_dlya_vyshivki/ramy_i_baget_dlya_vyshivki.html$ ramy_i_baget_dlya_vyshivki.php
RewriteRule ^ramki_dlya_vyshivki/kak_oformit_vyshivku.html$ kak_oformit_vyshivku.php
RewriteRule ^ramki_dlya_vyshivki/oformlenie_vyshivki.html$ oformlenie_vyshivki.php

RewriteRule ^baget_dlya_ikony$ baget_dlya_ikony/ [R=301,L]
RewriteRule ^baget_dlya_ikony/$ baget_dlya_ikony.php

RewriteRule ^bagety_dlya_kartin$ bagety_dlya_kartin/ [R=301,L]
RewriteRule ^bagety_dlya_kartin/$ bagety_dlya_kartin.php
RewriteRule ^bagety_dlya_kartin/bagety_dlya_kartin_cena.html$ bagety_dlya_kartin_cena.php
RewriteRule ^bagety_dlya_kartin/zakazat_baget.html$ zakazat_baget.php
RewriteRule ^bagety_dlya_kartin/kak_podobrat_baget_k_kartine.html$ kak_podobrat_baget_k_kartine.php
RewriteRule ^bagety_dlya_kartin/derevyannye_bagety_dlya_kartin.html$ derevyannye_bagety_dlya_kartin.php
RewriteRule ^bagety_dlya_kartin/plastikovyi_baget_dlya_kartin.html$ plastikovyi_baget_dlya_kartin.php
RewriteRule ^bagety_dlya_kartin/oformit_kartinu_v_baget.html$ oformit_kartinu_v_baget.php


RewriteRule ^zerkala_v_bagete$ zerkala_v_bagete/ [R=301,L]
RewriteRule ^zerkala_v_bagete/$ zerkala_v_bagete.php
RewriteRule ^bagetnye_raboty/obramlenie/obramlenie_zerkal.html$ zerkala_v_bagete/zerkalo_v_rame.html [R=301,L]
RewriteRule ^zerkala_v_bagete/zerkalo_v_rame.html$ zerkalo_v_rame.php
RewriteRule ^bagetnye_raboty/oformlenie_v_baget/oformlenie_zerkal_v_baget.html$ zerkala_v_bagete/oformlenie_zerkal_v_baget.html [R=301,L]
RewriteRule ^zerkala_v_bagete/oformlenie_zerkal_v_baget.html$ oformlenie_zerkal_v_baget.php
Redirect 301 /pechat_na_holste/pechat_na_holste_cena.html /pechat_na_holste/
Redirect 301 /ramki_dlya_kartin/izgotovlenie_ramok_dlya_kartin_na_zakaz.html /ramki_dlya_kartin/
RewriteRule ^pechat_kartin_posterov_reprodukcij/$ pechat_kartin_posterov_reprodukcij.php


RewriteRule ^ordena_i_medali/$ ordena_i_medali.php
RewriteRule ^derevyannie_ramki/$ derevyannie_ramki.php